*{
    font-family: "Work Sans", sans-serif;
}
.h1{
    font-family: "Bungee", sans-serif;
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;
  }
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("Books-angle-resized.jpg");
    background-color: #d68c45;
    height: 300px;
    width: 100%;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
}
.intro1{
text-align: center;
}
.h2 {
    font-family: "Poiret One", sans-serif;
    font-size: 36px;
    text-align: center;
  }
  .h3{
    font-family: "Poiret One", sans-serif;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .extra-pt{
    padding-top: 30px;
  }
  .extra-pb{
    padding-bottom: 30px;
  }
  nav {
    background-color: #d68c45;
  }
  .nav-link {
    color: #fefee3;
  }
  .home{
    color: #fefee3;
    padding: 10px;
  }
.accordion{
    --bs-accordion-btn-bg:#4c956c;
    --bs-accordion-active-bg: #2c6e49;
    --bs-accordion-active-color: #fefee3;
    --bs-accordion-btn-focus-box-shadow: none;
  }
.accordion-button:not(.collapsed){
    box-shadow: none;
  }
  .accordion h2.accordion-header button.accordion-button{
    color: #fefee3 !important;
  }
.btn {
    background-color: #d68c45;
    border-color: #d68c45;
    color: #fefee3;
  }
  .btn:hover {
    background-color: #fefee3;
    border-color: #d68c45;
    color: #d68c45;
  }
.enjoy{
  text-align: center;
}
.container2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("Book-flatlay.jpg");
    background-color: #d68c45;
    height: 300px;
    width: 100%;
    background-size: cover;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
}
.form{
  text-align: center;
}
#bookInput{
  width: 260px;
}
.btng {
  background-color: #2c6e49;
    border-color: #2c6e49;
    color: #fefee3;
}
.btng:hover {
  background-color: #fefee3;
    border-color: #2c6e49;
    color: #2c6e49;
}